@page "/"
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Home</PageTitle>

<div class="text-center">
	<h1>@_languageTable["HelloWorld"]</h1>
 	<RadzenCard class="m-3">
		<RadzenText TextStyle="TextStyle.H4">Temperature</RadzenText>
		<RadzenChart>
			<RadzenLineSeries Smooth="true" Data="@_telemetryData" CategoryProperty="SQLTStamp" Title="Temperature" ValueProperty="Temperature">
				<RadzenMarkers MarkerType="MarkerType.Circle" />
				<RadzenSeriesDataLabels Visible="false" />
			</RadzenLineSeries>
			<RadzenValueAxis Min="10" Max="35">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard>

	<RadzenCard class="m-3">
		<RadzenText TextStyle="TextStyle.H4">Humidity</RadzenText>
		<RadzenChart>
			<RadzenLineSeries Smooth="true" Data="@_telemetryData" CategoryProperty="SQLTStamp" Title="Humidity" ValueProperty="Humidity">
				<RadzenMarkers MarkerType="MarkerType.Circle" />
				<RadzenSeriesDataLabels Visible="false" />
			</RadzenLineSeries>
			<RadzenValueAxis Min="0" Max="100">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard>

	<RadzenCard class="m-3">
		<RadzenText TextStyle="TextStyle.H4">Power</RadzenText>
		<RadzenChart>
			<RadzenColumnSeries Data="@_telemetryData" CategoryProperty="SQLTStamp" Title="Kilo Watt Hour" ValueProperty="KiloWattHour">
				<RadzenSeriesDataLabels Visible="@true" />
			</RadzenColumnSeries>
			<RadzenColumnOptions Radius="5" />
			<RadzenValueAxis Min="0" Max="150">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard> 
</div>

