@* <div class="container-fluid h-100">
    <div class="row">
        <div class="col-12 mt-10 mb-10">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H6">
                    List of Sfcs
                </RadzenText>
                <RadzenDataGrid @ref="_roomInformationGrid"
                                TItem="_roomInformationVms"
                                AllowPaging="true"
                                PageSize="@PageSize"
                                AllowColumnResize="true"
                                SelectionMode="DataGridSelectionMode.Single"
                                RowSelect="OnSelectedSfc"
                                AllowRowSelectOnRowClick="@(!IsTaskRunningService.IsTaskRunning)"
                                PagerHorizontalAlign="HorizontalAlign.Center"
                                IsLoading=@IsTaskRunningService.IsTaskRunning
                                LoadData="@LoadData"
                                Data="@_sfcInformationVms"
                                Count="@Count">

                    <Columns>
                        <RadzenDataGridColumn TItem="_roomInformationVms" Property="" Title="@languageTable[""]"></RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="_roomInformationVms" Property="" Title="@languageTable[""]"></RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="_roomInformationVms" Property="" Title="@languageTable[""]"></RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="_roomInformationVms" Property="" Title="@languageTable[""]"></RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="_roomInformationVms" Property="" Title="@languageTable[""]"></RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenCard>
        </div>

        <div class="col-12">
            @if (SelectedDetailedroom is not null)
            {

                <CascadingValue Value="@SelectedDetailedroom">
                    <CascadingValue Value="@_languageTable">
                        <RoomTemp></RoomTemp>
                    </CascadingValue>
                </CascadingValue>
            }
        </div>
    </div>
</div> *@